@import "mixin";

.product-filter-container {
  @apply mt-8 px-16 w-full;

  & .MuiAutocomplete-root {
    & .MuiFormControl-root {
      @apply relative;

      & .MuiInputLabel-root {
        @apply absolute top-2/4 text-zinc-700;
        transform: translate(18px, -50%);
        font-size: 15px;
      }

      & .MuiInput-root {
        @apply m-0 border-2 rounded-sm border-gray-400 px-4 py-1;

        &:before,
        &:after {
          content: unset;
        }

        & .MuiAutocomplete-endAdornment {
          @apply right-3;

          & .MuiSvgIcon-root {
            @apply fill-zinc-700;
          }
        }
      }
    }
  }

  &.hide-label {
    & .MuiInputLabel-root {
      @apply hidden;
    }
  }
}

.MuiAutocomplete-popper {
  box-shadow: 0 2px 4px -1px rgb(0 0 0 / 20%), 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%);

  & .MuiAutocomplete-listbox {
    &::-webkit-scrollbar {
      @apply hidden;
    }

    & li {
      @apply text-base max-w-full overflow-hidden text-ellipsis py-2;
      border-bottom: 1px solid #dfdfdf;
    }
  }
}

.product-grids-container {
  @apply flex flex-wrap gap-8 px-16 py-8 justify-between w-full;
  overflow: auto;
  max-height: calc(100vh - 150px);

  &::-webkit-scrollbar {
    width: 16px;
  }

  &::-webkit-scrollbar-thumb {
    height: 56px;
    border-radius: 8px;
    border: 4px solid transparent;
    background-clip: content-box;
    background-color: gray;
  }

  .clipped {
    clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
  }

  & .product-item {
    @apply w-80 shadow-xl overflow-hidden rounded-md flex flex-col cursor-pointer;
    height: 520px;

    & .product-image {
      @apply w-full p-1 bg-gray-300 flex justify-center items-center;
      @extend .clipped;

      height: 60%;
      min-height: 60%;
      max-height: 60%;

      & img {
        @apply w-full h-full object-cover object-center;
        @extend .clipped;
      }
    }

    & .product-details {
      @apply flex flex-col px-3 pt-3 relative;

      height: 40%;
      min-height: 40%;
      max-height: 40%;

      & .product-title {
        @apply text-base font-semibold mb-2;
        @include lineClamp(1);
      }

      & .product-description {
        @apply text-sm font-medium mb-4;
        @include lineClamp(3);
      }

      & .product-category {
        @apply text-xs font-medium text-white h-5 px-2 py-1 leading-3 bg-gray-700 capitalize relative self-end;
        width: fit-content;
        transform: rotate(-2deg);

        &:before {
          @apply absolute h-5 w-2 bg-gray-700 top-0;
          right: calc(100% - 1px);

          content: '';
          clip-path: polygon(0 50%, 100% 0 , 100% 100%);
        }
      }

      & .product-info {
        @apply flex absolute bottom-2 justify-between;
        width: calc(100% - 24px);

        & .product-price {
          @apply text-2xl font-semibold text-gray-500;
        }

        & .product-stats {
          @apply flex items-center;

          & .product-rating, {
            @apply text-xl text-yellow-400 font-semibold pr-2;
          }

          & .product-user-count {
            @apply text-slate-700 text-base font-medium;
          }
        }
      }
    }
  }
}

.product-container {
  @apply w-full;
  height: calc(100vh - 64px);

  & .product-not-found-warning {
    @apply text-6xl font-semibold text-orange-500 flex justify-center items-center;
  }

  &__main {
    @apply flex p-12 pb-8 w-full h-full justify-between;

    & .product-details {
      @apply flex flex-col w-full pr-32;

      & .product-category {
        @apply flex text-base font-medium text-white h-7 px-3 flex items-center leading-3 bg-gray-700 capitalize relative mb-6 ml-3 select-none;
        width: fit-content;
        min-height: 1.75rem;
        max-height: 1.75rem;

        &:after {
          @apply absolute h-7 w-2 bg-gray-700 top-0;
          right: calc(100% - 1px);

          content: '';
          clip-path: polygon(0 50%, 100% 0 , 100% 100%);
        }

        &:before {
          @apply absolute h-7 w-2 bg-gray-700 top-0;
          left: calc(100% - 1px);

          content: '';
          clip-path: polygon(0 0, 100% 50%, 0 100%);
        }
      }

      & .product-title {
        @apply text-5xl font-semibold mb-8;
      }

      & .product-description {
        @apply text-2xl font-medium text-gray-700 mb-8;
      }

      & .product-rating-section {
        @apply flex w-full justify-between items-center mb-10;

        & .stats {
          @apply text-2xl;

          & .rate {
            @apply text-3xl font-semibold;
          }
        }
      }

      & .product-price {
        @apply text-7xl font-semibold text-yellow-400 relative self-end mb-10;

        &:before {
          @apply text-5xl mr-2;

          content: '$';
        }
      }

      & .user-review-section {
        @apply w-full flex flex-col;

        & textarea {
          @apply w-full h-32 border-2 rounded-sm border-gray-400 resize-none p-2 focus-visible:outline-none;

          &::-webkit-scrollbar {
            width: 12px;
          }

          &::-webkit-scrollbar-thumb {
            height: 56px;
            border-radius: 8px;
            border: 4px solid transparent;
            background-clip: content-box;
            background-color: gray;
          }

          &::placeholder {
            @apply text-gray-700;
          }
        }

        & .submit-btn {
          @apply bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded cursor-pointer mt-2 self-end mb-6;
          width: fit-content;

          &:disabled {
            @apply opacity-60 cursor-not-allowed hover:bg-blue-500;
          }
        }
      }
    }

    & .product-image {
      @apply h-full flex justify-center items-center;
      min-width: 40%;
      max-width: 50%;
      width: fit-content;

      & img {
        @apply max-w-full max-h-full;
      }
    }
  }
}

